@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

html {
    height: 100%;
}

body {
    background: #C1F0D5;
    background: -webkit-linear-gradient(270deg, #C1F0D5, #F6F397);
    background: -moz-linear-gradient(270deg, #C1F0D5, #F6F397);
    font: 14pt/1.6 "Source Sans Pro", Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
    color: #244;
}

a {
    color: #2e44b5;
}

h1.logo {
    display: inline-block;
    padding: 1px 10px 2px;
    text-transform: uppercase;
    font-size: 18pt;
    border: 1px dashed rgba(59, 75, 155, 0.43);
    background: rgba(0,0,0,0.05);
}

.container {
    text-align: left;
    margin: 0 auto;
    width: 600px;
    padding: 35px 0;
}

.top-box {
    padding-bottom: 40px;
}

.top-box p {
    width: 400px;
}

.try-button {
    float: right;
	box-sizing: border-box;
    background: #5D47A4;
    background: -webkit-linear-gradient(270deg, #7676FC, #9022F6);
    background: -moz-linear-gradient(270deg, #7676FC, #9022F6);
	border-radius: 4px;
	color: #FCFCFC;
	font-weight: 600;
	padding: 18px 40px 18px;
	text-decoration:none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(95, 71, 112);
}

.try-button:active {
    background: #4D3A8A;
}

.about {
    padding: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    font-size: 12pt;
    color: rgba(30, 30, 30, 0.5);
}

.tagline {
    display: inline-block;
    margin-left: 5px;
}
