body.app-container {
    text-align: center;
    background: #fafafa;
}

body.app-container .app {
    text-align: left;
    width: 700px;
    margin: 20px auto;
    position: relative;
}

body.app-container #current-selection {
    display: none !important;
}

.app {
    background: #fafafa;
    font: 16pt/1.6 Helvetica, Arial, sans-serif;
}

.app input, .app button, .app textarea, .app select {
    font: inherit;
}

.app .element {
    position: absolute;
}
.app button {
    transition: background-color 0.3s ease;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border:none;
    width:90px;
    background-color:#41609A;
    color: #FAFAFA;
    cursor:pointer;
}

.app input {
  display: block;
  width: 250px;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom:5px;
}
body.app-container input {
    height:30px;
}
body.app-container input:focus {
  height:30px;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

body input:-moz-placeholder {
  color: #999999;
}

body input::-moz-placeholder {
  color: #999999;
}

body input:-ms-input-placeholder {
  color: #999999;
}

body input::-webkit-input-placeholder {
  color: #999999;
}

}
body.app-container button:hover {
    background-color:#5076BD;
}
body.app-container button:active {
    background-color:#58D3F7;
}
