body.app-container {
    text-align: center;
    background: #fafafa;
}

body.app-container .app {
    text-align: left;
    width: 700px;
    margin: 20px auto;
    position: relative;
}

body.app-container #current-selection {
    display: none !important;
}

.app {
    background: #fafafa;
    font: 16pt/1.6 Helvetica, Arial, sans-serif;
}

.app input, .app button, .app textarea, .app select {
    font: inherit;
}

.app .element {
    position: absolute;
}
.app button {
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px; 
    border-radius: 8px; 
    background-color:#165A63;
    color: #FAFAFA;
}