<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>

    <base href="/">
    <script type="text/javascript" src="static/lib/lodash.min.js"></script>
    <script type="text/javascript" src="static/lib/zepto.min.js"></script>
    <link rel="stylesheet" href="/static/css/run.css" />
</head>
<body class="app-container">
    <div class="app">
        {{ app_html|safe }}
    </div>
    <a href = "../../edit/{{file_num}}" style = "float:left;">Edit</a>

    <script type="text/javascript" src="static/src/run.js"></script>
    <script type="text/javascript">
        runner.runApp();
    </script>
    <script type="text/javascript" src="{{ js_url }}"></script>
</body>
</html>
