<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Maker</title>

    <base href="/">

    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/run.css" />
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="static/lib/lodash.min.js"></script>
    <script type="text/javascript" src="static/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/static/src/run.js"></script>
    <script type="text/javascript" src="static/src/app.js"></script>

    <script src="static/lib/codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="static/lib/codemirror/codemirror.css">
    <script src="static/lib/codemirror/javascript.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js"></script>

    <style type="text/css">
      .CodeMirror {border: 1px solid black;}
      .lint-error {font-family: arial; font-size: 100%; background: #ffa; color: #000; padding: 2px 10px 3px; }
    </style>

</head>
<body>
    <div id="section-toolbar" style="padding:30px;">

        <div class="btn-group">
            <button class="btn btn-primary run">
                <i class ="fa fa-play"></i> Run
            </button>
            <button class="btn btn-primary stop" disabled>
                <i class ="fa fa-stop"></i> Stop
            </button>
        </div>

        <div class="btn-group">
            <button class="btn btn-success publish">
                Publish
            </button>
        </div>

        <div class="btn-group right">
            <button class="btn btn-default new">
                New
            </button>
        </div>
    </div>

    <div id="section-sidebar">

        <div id="create-elements">
            <h3>Elements</h3>

            <div class="draggable btn btn-default btn-lg" draggable="true" data-element-type="button">
                Button <i class="fa fa-square"></i>
            </div>
            <div class="draggable btn btn-default btn-lg" draggable="true" data-element-type="label">
                Label <i class="fa fa-font"></i>
            </div>
            <div class="draggable btn btn-default btn-lg" draggable="true" data-element-type="image">
                Image <i class = "fa fa-picture-o"></i>
            </div>
            <div class="draggable btn btn-default btn-lg" draggable="true" data-element-type="text">
                Text Input <i class = "fa fa-pencil"></i>
            </div>
        </div>

        <textarea id ="app-js-code">{{app_js}}</textarea>

        <div id="view-properties">
            <h3>IDENTIFIER</h3>
            <input id="view-id" type="text" class="form-control">

            <h3>Properties</h3>

            <div id="properties-container">
            </div>

            <h3>Actions</h3>
            <div id="actions-container">
            </div>
        </div>
    </div>
    <div id="section-editor">
        <div id="section-canvas" class="app">
            {{app_html|safe}}
        </div>
        <div id="section-code">
        </div>
    </div>


</body>
</html>
