<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>App Maker</title>
    <link href="static/css/intro.css" rel="stylesheet">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" />
</head>

<body>
    <div class="container">
        <h1 class="logo">App Maker</h1>
        <div class="tagline">Make your own apps and learn from others.</div>

        <div class="top-box">
            <a href = "/edit/121" class = "try-button">
                Start Building!
            </a>

            <p>App Maker is a tool for beginners to build web applications.
            It runs in your browser, so there's nothing to install.</p>
        </div>

        <div class="about">
            <p>
                App Maker was created at the 2014 Waterloo Facebook Hackathon
                by Alex Holyoke, Kasra Kyanzadeh, and Rohan Das.
            </p>

            <p>
                We hope to make it easy for beginning coders (especially
                children!) to use what they already know to create fun apps.
            </p>

            <p>
                App Maker is
                <a href = "https://github.com/kasrak/appmaker">open source</a>.
            </p>
        </div>
    </div>
</body>

</html>
