<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>App Maker</title>
    <link href="static/css/intro.css" rel="stylesheet">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" />
</head>

<body>
    <div id ="main">
        <h1 class = "main-title">App Maker<h1>
    </div>
    <section class = "content-box">
        <div id ="content">
            <p>An IDE for beginners to build web applications.</p>
            <p>Make your own apps, or edit someone else's!</p>
            <div id = "try">
                <a href = "/edit/121" class = "try-button">
                    Start Building! <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </section>

    <section class = "info-box">
        <div id ="info">
            <p>App Maker was created at the 2014 Waterloo Facebook Hackathon by Alex Holyoke, Kasra Kyanzadeh and Rohan Das. We hope to make it easy for beginning coders (especially children!) to use what they already know to create fun apps.</p>
            <p>App Maker is <a href = "https://github.com/kasrak/appmaker" class="git">open source</a>.</p>
        </div>
    </section>

</body>

</html>
